*{
    margin: 0;
    padding: 0;
}
.conteiner{
    position: relative;
}
.puzzleWeb{
    position: absolute;
    display: grid;
    grid-template-areas: "e1 e2 e3 e4 e5 e6"
                         "e7 e8 e9 e10 e11 e12"
                         "e13 e14 e15 e16 e17 e18"
                         "e19 e20 e21 e22 e23 e24";
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    height: 404px;
    width: 604px;
    // top: 25vh;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    z-index: -1;
}
.puzzle{
    border: solid 1px black;
    position: absolute;
    height: 100px;
    width: 100px;
    // background-image: url('../img/img1.jpg');
    // clip: rect(100px 100px 200px 200px);
    // top: 60vh;
}
